@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/static/Inter_18pt-Medium.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit/static/Outfit-Medium.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Public_Sans";
  src: url("../fonts/Public_Sans/static/PublicSans-Medium.ttf");
  font-style: normal;
  font-weight: normal;
}
.btn-dark {
  border: 1.5px solid #ffffff;
  border-radius: 16px;
  font-family: inherit;
  font-size: 16px;
  color: #ffffff;
  line-height: 24.26px;
  text-transform: uppercase;
  font-weight: 500;
  background-color: #141416;
  transition: background-color 0.3s ease;
}
.btn-dark:hover {
  border-color: #ffffff;
  color: #141416;
  background-color: #f2f2f2;
}
.btn-dark:hover {
  border: 1.5px solid #ffffff;
  color: #141416;
  background-color: #f2f2f2;
}
.btn-light {
  border: 1.5px solid #141416;
  border-radius: 16px;
  font-family: inherit;
  font-size: 16px;
  color: #141416;
  line-height: 24.26px;
  text-transform: uppercase;
  font-weight: 500;
  background-color: #ffffff;
  transition: background-color 0.3s ease;
}
.btn-light:hover {
  border-color: #141416;
  color: #ffffff;
  background-color: #f2f2f2;
}
.btn-light:hover {
  color: #1a1a1a;
  background-color: #d7d7d7;
}
.btn-big {
  width: 199px;
  height: 58px;
}
.btn-medium {
  width: 183px;
  height: 67px;
}
.btn-small {
  width: 121px;
  height: 51px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 88px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 93px 0 96px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}
.header__menu {
  display: flex;
  align-items: center;
  gap: 54px;
}
.header__menu__hamburger {
  display: none;
}
.header__logo {
  width: 53px;
  height: 53px;
  background-image: url("../img/wave2.svg");
}
.header__logo-mobile {
  display: none;
}
.header__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  gap: 54px;
}
.header__nav li {
  height: 43px;
  width: 131px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.header__nav li:hover {
  background-color: #c3c3c3;
}
.header__nav li:hover a {
  color: #000000;
}
.header__nav li a {
  color: #606060;
  font-size: 17.83px;
  line-height: 26.74px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}

.header-scrolled {
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.intro {
  width: 100vw;
  display: flex;
  padding: 111px 20px 130px 93px;
}
.intro__info {
  width: 50%;
}
.intro__title {
  font-family: "Poppins", sans-serif;
  font-size: 75px;
  line-height: 120%;
  font-weight: 600;
  color: #141416;
}
.intro__text {
  margin-bottom: 45px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #676767;
}
.intro__text span {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: #141416;
}
.intro__imgs {
  position: relative;
  width: 50%;
  transition: transform 0.5s ease-in-out;
}
.intro #img1 {
  position: absolute;
  left: 80px;
  max-width: 470px;
  max-height: 518px;
}
.intro #img2 {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
}
.intro #img3 {
  position: absolute;
  right: 0;
  z-index: -1;
}
.intro #arrow {
  position: absolute;
  top: 17%;
  left: 65%;
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity 0.5s ease-in-out;
}
.intro__btns {
  display: flex;
  gap: 23px;
  font-family: "Poppins", sans-serif;
}
.intro__bottom {
  display: flex;
  gap: 65px;
  padding-top: 82px;
}
.intro__bottom h3 {
  font-family: "Public_Sans", sans-serif;
  font-size: 36px;
  font-weight: 600;
  line-height: 45.96px;
  color: #141416;
}
.intro__bottom p {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: #848586;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f1f1f1;
}
.main h3 {
  padding: 40px 0 100px 0;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 45px;
  font-weight: 600;
  line-height: 27px;
  color: #c5c5c5;
}
.main .scroll-container {
  margin: 0 auto;
  gap: 60px;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  min-height: 300px;
  padding: 10px;
  transition: transform 0.3s ease;
  transform: translateY(0);
  overflow-x: hidden;
}
.main .scroll-content {
  display: flex;
  gap: 60px;
  padding: 10px;
  transition: transform 0.3s ease;
}
.main .slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 23.48px;
  max-width: 281px;
  max-height: 412px;
  text-align: center;
  background-color: #ffffff;
}
.main .slide h5 {
  padding: 18px 0 14px 0;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 600;
  text-align: left;
}
.main .slide__img {
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 24px;
  margin-top: 10px;
  width: 253px;
  height: 253px;
}
.main .slide #slide1 {
  background-image: url("../img/slide1.png");
}
.main .slide #slide2 {
  background-image: url("../img/slide2.png");
}
.main .slide #slide3 {
  background-image: url("../img/slide3.png");
}
.main .slide #slide4 {
  background-image: url("../img/slide4.png");
}
.main .slide #slide5 {
  background-image: url("../img/slide5.png");
}
.main .slide__info-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 17px;
  padding-bottom: 7px;
}
.main .slide__info__current-bid {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
  padding-bottom: 21px;
  font-size: 14px;
  font-weight: 500;
}
.main .slide__info__current-bid-text {
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #94a3b8;
}
.main .slide__info__current-bid-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  font-family: "Poppins", sans-serif;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
}
.main .slide__info__current-bid-countdown-timer {
  position: absolute;
  top: 22px;
  right: 25px;
  display: none;
  padding: 5px 7px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  background-color: rgba(28, 29, 32, 0.3490196078);
  -webkit-backdrop-filter: blur(4.71px);
          backdrop-filter: blur(4.71px);
}
.main .scroll-buttons {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  height: 69px;
  width: 166px;
  border-radius: 17.25px;
  background-color: #fcfcfd;
}
.main .scroll-buttons__border {
  width: 3px;
  height: 26px;
  background-color: #e6e8ec;
}
.main .scroll-buttons .scroll-button {
  height: 69px;
  width: 83px;
  border: none;
  border-radius: 17.25px;
  padding: 22px;
  text-align: center;
  background-color: #fcfcfd;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.main .widget-container {
  background-color: #ffffff;
  padding: 100px 96px 100px 93px;
}
.main .widget-container .widget {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  height: 311px;
  border-radius: 30px;
  padding: 100px 96px 100px 93px;
  text-align: center;
  background-color: #141416;
}
.main .widget-container .widget h4 {
  font-family: "Poppins", sans-serif;
  font-size: 45px;
  font-weight: 600;
  color: #ffffff;
}
.main .widget-container .widget p {
  padding: 12px 0 60px 0;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #d4d4d4;
}
.main .widget-container .widget__info {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.main .widget-container .widget__btns {
  display: flex;
  gap: 30px;
  font-family: "Outfit", sans-serif;
}
.main .widget-container .widget__img {
  width: 360px;
  height: 264px;
  background-image: url("../img/widget.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.footer {
  background-color: black;
}
.footer__logo {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 13px;
  font-family: "Poppins", sans-serif;
  font-size: 29px;
  font-weight: 600;
  line-height: 130%;
}
.footer__logo::before {
  content: "";
  display: block;
  width: 53px;
  height: 53px;
  background-image: url("../img/wave1.svg");
}
.footer__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  gap: 54px;
}
.footer__nav li {
  height: 43px;
  width: 131px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}
.footer__nav li:hover {
  background-color: #c3c3c3;
}
.footer__nav li:hover a {
  color: #000000;
}
.footer__nav li a {
  color: #b9b9b9;
  font-size: 17.83px;
  line-height: 26.74px;
  font-weight: 500;
  text-transform: none;
  text-decoration: none;
}
.footer__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 45px 68px 25px 93px;
}
.footer__menu a {
  text-decoration: none;
  color: #ffffff;
}
.footer__menu__border {
  margin: 0 auto;
  width: 88vw;
  height: 1px;
  background-color: #818181;
}
.footer__social {
  display: flex;
  justify-content: space-between;
  padding: 57px 96px 81px 93px;
}
.footer__social p {
  font-size: 17px;
  font-weight: 500;
  line-height: 25px;
  color: #999999;
}
.footer__social .social__link {
  display: flex;
  align-items: center;
  gap: 53px;
}
.footer-mobile {
  display: none;
}

/* Общие стили для анимации */
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animate-title,
.animate-text,
.animate-btns,
.animate-stats {
  transform: translateY(50px);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.animate-title.visible {
  transform: translateY(0);
  opacity: 1;
}

.animate-text.visible {
  transform: translateY(0);
  opacity: 1;
}

.animate-btns.visible {
  transform: translateY(0);
  opacity: 1;
}

.animate-stats.visible {
  transform: translateY(0);
  opacity: 1;
}

@media (min-width: 781px) and (max-width: 1200px) {
  .header {
    padding: 0 50px 0 50px;
  }
  .intro {
    padding: 80px 0 50px 0;
    width: 100%;
    overflow: hidden;
  }
  .intro__title {
    font-size: 53px;
  }
  .intro__text {
    font-size: 13px;
  }
  .main {
    margin-top: 120px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .header {
    justify-content: space-around;
    height: 60px;
    width: 100%;
    padding: 0 20px 0 20px;
  }
  .header__menu {
    gap: 10px;
  }
  .header__nav {
    gap: 20px;
  }
  .header__nav li {
    width: 100px;
  }
  .header__nav li a {
    font-size: 12.68px;
  }
  .btn-big {
    width: 142px;
    height: 41px;
    font-size: 12px;
  }
  .btn-medium {
    width: 142px;
    height: 41px;
    font-size: 11.5px;
  }
  .btn-small {
    width: 86px;
    height: 36px;
    font-size: 10px;
  }
  .intro {
    margin-top: 60px;
    padding: 60px 0 50px 20px;
  }
  .intro__title {
    margin-bottom: 20px;
    font-size: 53px;
  }
  .intro__text {
    margin-bottom: 30px;
    font-size: 12px;
  }
  .intro__imgs {
    width: 60vw;
  }
  .intro #img1 {
    left: 0;
    max-width: 259px;
    height: 259px;
  }
  .intro #img2 {
    width: 226px;
    height: 229px;
  }
  .intro #img3 {
    width: 123px;
    height: 284px;
  }
  .intro #arrow {
    left: 78%;
    width: 91px;
    height: 88px;
  }
  .intro__btns {
    gap: 15px;
  }
  .intro__bottom {
    gap: 46px;
    padding-top: 58px;
  }
  .intro__bottom__info h3 {
    font-size: 26px;
  }
  .main {
    width: 100vw;
  }
  .main h3 {
    padding: 40px 0 70px 0;
    font-size: 32px;
  }
  .main .scroll-content {
    gap: 28px;
  }
  .main .slide {
    width: 194px;
  }
  .main .slide__img {
    width: 159px;
    height: 179px;
    border-radius: 16px;
  }
  .main .slide__info h5 {
    font-size: 15px;
  }
  .main .slide__info__current-bid-text {
    font-size: 10px;
  }
  .main .slide__info__current-bid-text {
    font-size: 10px;
  }
  .main .slide__info__current-bid-countdown-timer {
    font-size: 10px;
  }
  .main .scroll-buttons {
    margin-top: 81px;
    margin-bottom: 64px;
    height: 79px;
    width: 135px;
    border-radius: 13px;
  }
  .main .scroll-buttons .scroll-button {
    height: 35px;
    width: 69px;
    padding: 8px;
    border-radius: 13px;
  }
  .main .scroll-buttons .scroll-button #svg_prev {
    font-size: 24px;
    text-align: center;
  }
  .main .scroll-buttons .scroll-button #svg_next {
    width: 18px;
    height: 8px;
  }
  .main .widget-container {
    width: 100%;
    padding: 13px 6px 32px 7px;
  }
  .main .widget-container .widget {
    margin: 0;
    height: 221px;
    padding: 13px 6px 32px 7px;
  }
  .main .widget-container .widget h4 {
    font-size: 32px;
  }
  .main .widget-container .widget p {
    font-size: 14px;
    padding-bottom: 35px;
  }
  .main .widget-container .widget__img {
    width: 260px;
    height: 250px;
  }
  .footer {
    width: 100vw;
    padding: 0 20px 0 20px;
  }
  .footer__logo {
    font-size: 21px;
  }
  .footer__nav {
    display: none;
    gap: 10px;
  }
  .footer__nav li {
    width: 100px;
  }
  .footer__nav li a {
    font-size: 12px;
  }
  .footer__menu {
    padding: 20px 0px 10px;
  }
  .footer__social p {
    font-size: 10px;
  }
}
@media (max-width: 480px) {
  .btn-medium {
    width: 128px;
    height: 41px;
    font-size: 11.5px;
  }
  .btn-small {
    width: 85px;
    height: 36px;
    font-size: 10px;
  }
  .btn-mobile {
    width: 360px;
    height: 60px;
    font-size: 20px;
  }
  .header {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  .header button {
    display: none;
  }
  .header a {
    text-decoration: none;
  }
  .header__logo {
    display: none;
  }
  .header__logo-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 13px;
    font-family: "Poppins", sans-serif;
    font-size: 29px;
    font-weight: 600;
    line-height: 130%;
    color: #000000;
  }
  .header__logo-mobile::before {
    content: "";
    display: block;
    width: 53px;
    height: 53px;
    background-image: url("../img/wave2.svg");
  }
  .header__menu {
    justify-content: space-around;
    width: 80vw;
  }
  .header__menu__hamburger {
    display: block;
    cursor: pointer;
    font-size: 24px;
  }
  .header__menu__hamburger .hamburger-icon,
  .header__menu__hamburger .close-icon {
    transition: opacity 0.3s ease-in-out;
  }
  .header__menu__hamburger .close-icon {
    display: none;
  }
  .header__nav {
    display: none;
  }
  .header__nav ul {
    flex-direction: column;
    gap: 30px;
  }
  .header__nav ul li a {
    font-size: 24px;
  }
  .header__nav.active {
    transform: translateY(0);
  }
  .nav_mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 999;
    padding: 100px 0 0 0px;
  }
  .nav_mobile.active {
    transform: translateY(0);
  }
  .nav_mobile .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    gap: 54px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px 0 0 50px;
    text-align: left;
  }
  .nav_mobile .nav li {
    height: 43px;
    width: 131px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
  }
  .nav_mobile .nav li:hover {
    background-color: #c3c3c3;
  }
  .nav_mobile .nav li:hover a {
    color: #000000;
  }
  .nav_mobile .nav li a {
    color: #606060;
    font-size: 17.83px;
    line-height: 26.74px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
  }
  .nav_mobile .nav li a {
    font-size: 40px;
  }
  .nav_mobile .social__link {
    padding: 50px;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .nav_mobile .block {
    position: absolute;
    bottom: 0;
    padding: 50px 0 50px 30px;
  }
  .intro {
    width: 100vw;
    height: 90vh;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 50px 0 50px;
    margin-top: 30px;
    overflow: hidden;
  }
  .intro__info {
    width: 100%;
  }
  .intro .__imgs {
    width: 100%;
  }
  .intro #img1 {
    position: relative;
    top: 0;
    left: 0;
    width: 208px;
    height: 210px;
  }
  .intro #img2 {
    width: 170px;
    height: 181px;
    left: 80%;
    bottom: 0;
  }
  .intro #img3 {
    width: 123px;
    height: 284px;
    left: 90%;
    bottom: 0;
  }
  .intro #arrow {
    left: 98%;
    width: 91px;
    height: 88px;
  }
  .intro__title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 43px;
  }
  .intro__text {
    margin-bottom: 30px;
    font-size: 12px;
  }
  .intro__btns {
    justify-content: center;
  }
  .intro__bottom {
    display: none;
  }
  .main h3 {
    padding: 57px 0 23px 0;
    font-size: 28px;
  }
  .main .scroll-content {
    gap: 8px;
  }
  .main .slide {
    width: 100%;
  }
  .main .slide__img {
    width: 149px;
    height: 179px;
    border-radius: 16px;
  }
  .main .slide__info h5 {
    font-size: 15px;
  }
  .main .slide__info__current-bid-text {
    font-size: 10px;
  }
  .main .slide__info__current-bid-text {
    font-size: 10px;
  }
  .main .slide__info__current-bid-countdown-timer {
    font-size: 10px;
  }
  .main .scroll-buttons {
    margin-top: 81px;
    margin-bottom: 64px;
    height: 79px;
    width: 135px;
    border-radius: 13px;
  }
  .main .scroll-buttons .scroll-button {
    height: 35px;
    width: 69px;
    padding: 8px;
    border-radius: 13px;
  }
  .main .scroll-buttons .scroll-button #svg_prev {
    font-size: 24px;
    text-align: center;
  }
  .main .scroll-buttons .scroll-button #svg_next {
    width: 18px;
    height: 8px;
  }
  .main .widget-container {
    position: relative;
    height: 50vh;
    padding: 30px 38px 60px 38px;
  }
  .main .widget-container .widget {
    flex-direction: column;
    height: 211px;
    padding: 0;
  }
  .main .widget-container .widget h4 {
    font-size: 24px;
  }
  .main .widget-container .widget p {
    font-size: 10px;
    padding-bottom: 25px;
  }
  .main .widget-container .widget__btns {
    gap: 10px;
  }
  .main .widget-container .widget__img {
    position: absolute;
    bottom: 68px;
    width: 252px;
    height: 129px;
    border-radius: 9.2px;
    background-size: cover;
  }
  .footer-desctop {
    display: none;
  }
  .footer-mobile {
    display: block;
    width: 100%;
  }
  .footer-mobile p {
    padding: 26px 0 36px 0;
    text-align: center;
    color: #999999;
  }
  .footer-mobile .footer-container {
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .footer-mobile .footer-container a {
    text-decoration: none;
  }
  .footer-mobile .footer-container svg {
    width: 15px;
  }
  .footer-mobile .footer__logo {
    font-size: 20px;
    color: white;
  }
  .footer-mobile .footer__logo::before {
    width: 43px;
    height: 43px;
    background-position: center;
  }
  .footer-mobile .footer__nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 20px 0 30px 0;
  }
  .footer-mobile .footer__nav li {
    height: 0;
    width: 50%;
    text-align: left;
  }
  .footer-mobile .footer__nav li a {
    padding-left: 30px;
    font-size: 14px;
    -webkit-text-decoration: uppercase;
            text-decoration: uppercase;
  }
  .footer-mobile .social__link {
    display: flex;
    gap: 10px;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */