$padding-center: 0 93px 0 96px;
$btn-radius: 16px;
$font-inter: "Inter", sans-serif;
$font-poppins: "Poppins", sans-serif;
$font-outfit: "Outfit", sans-serif;
$font-public: "Public_Sans", sans-serif;
$font-medium: 500;
$font-large: 600;
$font-size-base: 16px;
$font-size-large: 75px;
$font-size-small: 14px;
$font-size-header: 22px;
$primary-color: #141416;
$secondary-color: #ffffff;
$accent-color: #676767;
$hover-color: #f2f2f2;
$transition-duration: 0.3s;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-inter;
}
body {
  width: 100%;
  height: 100vh;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/static/Inter_18pt-Medium.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Outfit";
  src: url("../fonts/Outfit/static/Outfit-Medium.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Public_Sans";
  src: url("../fonts/Public_Sans/static/PublicSans-Medium.ttf");
  font-style: normal;
  font-weight: normal;
}
@mixin button-styles($bg-color, $text-color, $border-color) {
  border: 1.5px solid $border-color;
  border-radius: $btn-radius;
  font-family: inherit;
  font-size: $font-size-base;
  color: $text-color;
  line-height: 24.26px;
  text-transform: uppercase;
  font-weight: $font-medium;
  background-color: $bg-color;
  transition: background-color $transition-duration ease;

  &:hover {
    border-color: $border-color;
    color: $bg-color;
    background-color: $hover-color;
  }
}
@mixin nav-styles(
  $height-type,
  $width-type,
  $text-color,
  $text-transform: none
) {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  gap: 54px;

  li {
    height: 43px;
    width: 131px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;

    &:hover {
      background-color: #c3c3c3;
      a {
        color: #000000;
      }
    }

    a {
      color: $text-color;
      font-size: 17.83px;
      line-height: 26.74px;
      font-weight: $font-medium;
      text-transform: $text-transform;
      text-decoration: none;
    }
  }
}
.btn {
  &-dark {
    @include button-styles($primary-color, $secondary-color, $secondary-color);
    &:hover {
      border: 1.5px solid $secondary-color;
      color: $primary-color;
      background-color: $hover-color;
    }
  }
  &-light {
    @include button-styles($secondary-color, $primary-color, $primary-color);
    &:hover {
      color: #1a1a1a;
      background-color: #d7d7d7;
    }
  }
  &-big {
    width: 199px;
    height: 58px;
  }
  &-medium {
    width: 183px;
    height: 67px;
  }
  &-small {
    width: 121px;
    height: 51px;
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 88px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $padding-center;
  background-color: transparent;
  transition: background-color 0.3s ease;

  &__menu {
    display: flex;
    align-items: center;
    gap: 54px;
    &__hamburger {
      display: none;
    }
  }
  &__logo {
    width: 53px;
    height: 53px;
    background-image: url("../img/wave2.svg");
    &-mobile {
      display: none;
    }
  }
  &__nav {
    @include nav-styles(max, max, #606060, uppercase);
    gap: 29px;
  }
}
.header-scrolled {
  background-color: $secondary-color;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.nav_mobile {
  display: none;
}

.intro {
  width: 100%;
  display: flex;
  padding: 111px 20px 130px 93px;
  &-border {
    height: 1px;
    width: 200px;
    background-color: #201f1f;
    &__text {
      display: none;
    }
  }
  &__info {
    width: 50%;
  }

  &__title {
    font-family: $font-poppins;
    font-size: $font-size-large;
    line-height: 120%;
    font-weight: $font-large;
    color: $primary-color;
  }
  &__text {
    margin-bottom: 45px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: $accent-color;
    span {
      font-size: 18px;
      font-weight: $font-large;
      line-height: 28px;
      color: $primary-color;
    }
  }
  &__imgs {
    position: relative;
    width: 50%;
    transition: transform 0.5s ease-in-out;
  }
  #img1 {
    position: absolute;
    left: 0;
    max-width: 470px;
    max-height: 518px;
  }
  #img2 {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
  }
  #img3 {
    position: absolute;
    right: 0;
    z-index: -1;
  }
  #arrow {
    position: absolute;
    top: 17%;
    left: 65%;
    opacity: 0;
    transform: translateX(-50%);
    transition: opacity 0.5s ease-in-out;
  }

  &__btns {
    display: flex;
    gap: 23px;
    font-family: $font-poppins;
  }
  &__bottom {
    display: flex;
    gap: 65px;
    padding-top: 82px;

    h3 {
      font-family: $font-public;
      font-size: 36px;
      font-weight: $font-large;
      line-height: 45.96px;
      color: #141416;
    }
    p {
      font-size: 12px;
      font-weight: $font-medium;
      line-height: 18px;
      color: #848586;
    }
  }
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f1f1f1;
  h3 {
    padding: 40px 0 100px 0;
    font-family: $font-poppins;
    text-align: center;
    font-size: 45px;
    font-weight: $font-large;
    line-height: 27px;
    color: #c5c5c5;
  }
  .scroll-container {
    margin: 0 auto;
    gap: 60px;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    min-height: 300px;
    padding: 10px;
    transition: transform 0.3s ease;
    transform: translateY(0);
    overflow-x: hidden;
  }
  .scroll-content {
    display: flex;
    gap: 60px;
    padding: 10px;
    transition: transform 0.3s ease;
  }
  .slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 23.48px;
    max-width: 281px;
    max-height: 412px;
    text-align: center;
    background-color: $secondary-color;
    h5 {
      padding: 18px 0 14px 0;
      font-family: $font-poppins;
      font-size: $font-size-header;
      font-weight: $font-large;
      text-align: left;
    }
    &__img {
      position: relative;
      background-size: cover;
      background-position: center;
      border-radius: 24px;
      margin-top: 10px;
      width: 253px;
      height: 253px;
    }

    #slide1 {
      background-image: url("../img/slide1.png");
    }

    #slide2 {
      background-image: url("../img/slide2.png");
    }

    #slide3 {
      background-image: url("../img/slide3.png");
    }

    #slide4 {
      background-image: url("../img/slide4.png");
    }

    #slide5 {
      background-image: url("../img/slide5.png");
    }
    &__info {
      &-wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 17px;
        padding-bottom: 7px;
      }
      &__current-bid {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 5px;
        padding-bottom: 21px;
        font-size: $font-size-small;
        font-weight: $font-medium;
        &-text {
          text-align: left;
          font-family: $font-poppins;
          font-size: 14px;
          font-weight: 400;
          color: #94a3b8;
        }
        &-container {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 10px;
          font-family: $font-poppins;
          text-align: left;
          font-size: $font-size-small;
          font-weight: 400;
        }
        &-countdown-timer {
          position: absolute;
          top: 22px;
          right: 25px;
          display: none;
          padding: 5px 7px;
          border-radius: 10px;
          color: $secondary-color;
          font-size: $font-size-small;
          font-weight: $font-large;
          background-color: #1c1d2059;
          backdrop-filter: blur(4.71px);
        }
      }
    }
  }
  .scroll-buttons {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    height: 69px;
    width: 166px;
    border-radius: 17.25px;
    background-color: #fcfcfd;

    &__border {
      width: 3px;
      height: 26px;
      background-color: #e6e8ec;
    }
    .scroll-button {
      height: 69px;
      width: 83px;
      border: none;
      border-radius: 17.25px;
      padding: 22px;
      text-align: center;
      background-color: #fcfcfd;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
  }
  .widget-container {
    background-color: $secondary-color;
    padding: 100px 96px 100px 93px;
    .widget {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      align-content: center;
      flex-wrap: nowrap;
      height: 311px;
      border-radius: 30px;
      padding: 12px 25px 22px 40px;
      text-align: center;
      background-color: $primary-color;

      h4 {
        font-family: $font-poppins;
        font-size: 45px;
        font-weight: $font-large;
        color: #ffffff;
      }
      p {
        padding: 12px 0 60px 0;
        font-family: $font-poppins;
        font-size: 20px;
        font-weight: $font-medium;
        color: #d4d4d4;
      }
      &__info {
        display: flex;
        flex-direction: column;
        align-items: start;
      }
      &__btns {
        display: flex;
        gap: 30px;
        font-family: $font-outfit;
      }
      &__img {
        width: 360px;
        height: 264px;
        background-image: url("../img/widget.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
}
.footer {
  background-color: black;
  &__logo {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 13px;
    font-family: $font-poppins;
    font-size: 29px;
    font-weight: $font-large;
    line-height: 130%;

    &::before {
      content: "";
      display: block;
      width: 53px;
      height: 53px;
      background-image: url("../img/wave1.svg");
    }
  }
  &__nav {
    @include nav-styles(min, min, #b9b9b9);
  }
  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 45px 68px 25px 93px;
    a {
      text-decoration: none;
      color: $secondary-color;
    }
    &__border {
      margin: 0 auto;
      width: 88vw;
      height: 1px;
      background-color: #818181;
    }
  }
  &__social {
    display: flex;
    justify-content: space-between;
    padding: 57px 96px 81px 93px;
    p {
      font-size: 17px;
      font-weight: $font-medium;
      line-height: 25px;
      color: #999999;
    }
    .social__link {
      display: flex;
      align-items: center;
      gap: 53px;
    }
  }
  &-mobile {
    display: none;
  }
}

/* Общие стили для анимации */

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-title,
.animate-text,
.animate-btns,
.animate-stats {
  transform: translateY(50px);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.animate-title.visible {
  transform: translateY(0);
  opacity: 1;
}

.animate-text.visible {
  transform: translateY(0);
  opacity: 1;
}

.animate-btns.visible {
  transform: translateY(0);
  opacity: 1;
}

.animate-stats.visible {
  transform: translateY(0);
  opacity: 1;
}
@media (min-width: 781px) and (max-width: 1200px) {
  .header {
    padding: 0 50px 0 50px;
  }
  .header .intro {
    padding: 80px 20px 50px 20px;

    width: 100%;
    overflow: hidden;
    &__title {
      font-size: 53px;
    }
    &__text {
      font-size: 13px;
    }
  }
  .main {
    margin-top: 120px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .header {
    justify-content: space-around;
    height: 60px;
    width: 100%;
    padding: 0 20px 0 20px;
    &__menu {
      gap: 10px;
    }
    &__nav {
      gap: 20px;
      li {
        width: 100px;

        a {
          font-size: 12.68px;
        }
      }
    }
  }
  .btn {
    &-big {
      width: 142px;
      height: 41px;
      font-size: 12px;
    }
    &-medium {
      width: 142px;
      height: 41px;
      font-size: 11.5px;
    }
    &-small {
      width: 86px;
      height: 36px;
      font-size: 10px;
    }
  }
  .intro {
    margin-top: 60px;
    padding: 60px 0 50px 20px;
    &__title {
      margin-bottom: 20px;
      font-size: 53px;
    }
    &__text {
      margin-bottom: 30px;
      font-size: 12px;
    }
    &__imgs {
      width: 60vw;
    }

    #img1 {
      left: 0;
      max-width: 259px;
      height: 259px;
    }
    #img2 {
      width: 226px;
      height: 229px;
    }
    #img3 {
      width: 123px;
      height: 284px;
    }
    #arrow {
      left: 78%;
      width: 91px;
      height: 88px;
    }
    &__btns {
      gap: 15px;
    }
    &__bottom {
      gap: 46px;
      padding-top: 58px;
      &__info {
        h3 {
          font-size: 26px;
        }
      }
    }
  }
  .main {
    width: 100vw;
    h3 {
      padding: 40px 0 70px 0;
      font-size: 32px;
    }
    .scroll-content {
      gap: 28px;
    }
    .slide {
      width: 194px;
      &__img {
        width: 159px;
        height: 179px;
        border-radius: 16px;
      }
      &__info {
        h5 {
          font-size: 15px;
        }
        &__current-bid-text {
          font-size: 10px;
        }
        &__current-bid-text {
          font-size: 10px;
        }
        &__current-bid-countdown-timer {
          font-size: 10px;
        }
      }
    }
    .scroll-buttons {
      margin-top: 81px;
      margin-bottom: 64px;
      height: 79px;
      width: 135px;
      border-radius: 13px;
      .scroll-button {
        height: 35px;
        width: 69px;
        padding: 8px;
        border-radius: 13px;
        #svg_prev {
          font-size: 24px;
          text-align: center;
        }
        #svg_next {
          width: 18px;
          height: 8px;
        }
      }
    }
    .widget-container {
      width: 100%;
      padding: 13px 6px 32px 7px;

      .widget {
        margin: 0;
        height: 221px;
        padding: 13px 6px 32px 7px;

        h4 {
          font-size: 32px;
        }
        p {
          font-size: 14px;
          padding-bottom: 35px;
        }
        &__img {
          width: 260px;
          height: 250px;
        }
      }
    }
  }
  .footer {
    width: 100vw;
    padding: 0 20px 0 20px;
    &__logo {
      font-size: 21px;
    }
    &__nav {
      display: none;
      gap: 10px;
      li {
        width: 100px;
        a {
          font-size: 12px;
        }
      }
    }
    &__menu {
      padding: 20px 0px 10px;
    }
    &__social {
      p {
        font-size: 10px;
      }
    }
  }
}

@media (max-width: 480px) {
  .btn {
    &-medium {
      width: 128px;
      height: 41px;
      font-size: 11.5px;
    }
    &-small {
      width: 85px;
      height: 36px;
      font-size: 10px;
    }
    &-mobile {
      width: 360px;
      height: 60px;
      font-size: 20px;
    }
  }
  .header {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    button {
      display: none;
    }
    a {
      text-decoration: none;
    }
    &__logo {
      display: none;

      &-mobile {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 13px;
        font-family: $font-poppins;
        font-size: 29px;
        font-weight: $font-large;
        line-height: 130%;
        color: #000000;

        &::before {
          content: "";
          display: block;
          width: 53px;
          height: 53px;
          background-image: url("../img/wave2.svg");
        }
      }
    }
    &__menu {
      justify-content: space-around;
      width: 80vw;
      &__hamburger {
        display: block;
        cursor: pointer;
        font-size: 24px;
        .hamburger-icon,
        .close-icon {
          transition: opacity 0.3s ease-in-out;
        }
        .close-icon {
          display: none;
        }
      }
    }
    &__nav {
      display: none;
      ul {
        flex-direction: column;
        gap: 30px;

        li {
          a {
            font-size: 24px;
          }
        }
      }

      &.active {
        transform: translateY(0);
      }
    }
  }
  .nav_mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 999;
    padding: 100px 0 0 0px;
    &.active {
      transform: translateY(0);
    }
    .nav {
      @include nav-styles(max, max, #606060, uppercase);
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 50px 0 0 50px;
      text-align: left;
      li {
        width: 100%;
        padding: 5px;
        text-align: left;
        a {
          font-size: 40px;
        }
      }
    }
    .social__link {
      display: flex;
      flex-direction: row;
      gap: 40px;
      padding: 50px;
    }
    .block {
      position: absolute;
      bottom: 0;
      padding: 50px 0 50px 30px;
    }
  }

  .intro {
    width: 100vw;
    height: 90vh;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 50px 0 50px;
    margin-top: 30px;
    overflow: hidden;
    &__info {
      width: 100%;
    }
    &-border {
      &__text {
        display: block;
        width: fit-content;
        margin: 0 auto;
        font-family: $font-poppins;
        font-size: 9.25px;
        font-weight: $font-medium;
      }
      width: 114px;
      padding-left: 10px;
    }
    &-border-text {
      width: 70%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__imgs {
      width: 100%;
    }
    #img1 {
      position: relative;
      top: 0;
      left: 0;
      width: 208px;
      height: 210px;
    }
    #img2 {
      left: 50%;
      bottom: 0;
      width: 170px;
      height: 181px;
    }
    #img3 {
      width: 123px;
      height: 284px;
      left: 60%;
      bottom: 0;
    }
    #arrow {
      left: 70%;
      width: 91px;
      height: 88px;
    }
    &__title {
      margin-bottom: 20px;
      text-align: center;
      font-size: 43px;
    }
    &__text {
      margin-bottom: 30px;
      font-size: 12px;
    }
    &__btns {
      justify-content: center;
    }
    &__bottom {
      display: none;
    }
  }

  .main {
    h3 {
      padding: 57px 0 23px 0;
      font-size: 28px;
    }
    .scroll-content {
      gap: 8px;
    }
    .slide {
      width: 100%;
      &__img {
        width: 149px;
        height: 179px;
        border-radius: 16px;
      }
      &__info {
        h5 {
          font-size: 15px;
        }
        &__current-bid-text {
          font-size: 10px;
        }
        &__current-bid-countdown-timer {
          font-size: 10px;
        }
      }
    }
    .scroll-buttons {
      margin-top: 81px;
      margin-bottom: 64px;
      height: 79px;
      width: 135px;
      border-radius: 13px;
      .scroll-button {
        height: 35px;
        width: 69px;
        padding: 8px;
        border-radius: 13px;
        #svg_prev {
          font-size: 24px;
          text-align: center;
        }
        #svg_next {
          width: 18px;
          height: 8px;
        }
      }
    }
    .widget-container {
      position: relative;
      padding: 30px 38px 60px 38px;
      height: 50vh;
      .widget {
        flex-direction: column;
        padding: 0;
        height: 211px;
        h4 {
          font-size: 24px;
        }
        p {
          font-size: 10px;
          padding-bottom: 25px;
        }
        &__btns {
          gap: 10px;
        }
        &__img {
          position: absolute;
          bottom: 68px;
          width: 252px;
          height: 129px;
          border-radius: 9.2px;
          background-size: cover;
        }
      }
    }
  }
  .footer-desctop {
    display: none;
  }

  .footer-mobile {
    display: block;
    width: 100%;
    p {
      padding: 26px 0 36px 0;
      text-align: center;
      color: #999999;
    }
    .footer-container {
      padding-top: 60px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      a {
        text-decoration: none;
      }
      svg {
        width: 15px;
      }
    }
    .footer__logo {
      font-size: 20px;

      color: white;
      &::before {
        width: 43px;
        height: 43px;
        background-position: center;
      }
    }

    .footer__nav {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      padding: 20px 0 30px 0;
      li {
        height: 0;
        width: 50%;
        text-align: left;
        a {
          padding-left: 30px;
          font-size: 14px;
          text-decoration: uppercase;
        }
      }
    }
    .social__link {
      display: flex;
      gap: 10px;
      align-items: center;
    }
  }
}
